db2_chart/.node-red/flows.json
[
    {
        "id": "17870e65b49ecbdc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72c1e5a9ec204878",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-chart"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "5075a7d8e4947586",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "39fae809f6f7fc7b",
        "type": "ui-page",
        "name": "Charts",
        "ui": "72c1e5a9ec204878",
        "path": "/charts-example",
        "icon": "chart-box-outline",
        "layout": "notebook",
        "theme": "5075a7d8e4947586",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4dc3a5580f655534",
        "type": "ui-group",
        "name": "Scatter Plot Group",
        "page": "39fae809f6f7fc7b",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a924b771a10b19ba",
        "type": "ui-chart",
        "z": "17870e65b49ecbdc",
        "group": "4dc3a5580f655534",
        "name": "Chart: Scatter",
        "label": "Scatter Plot Example",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "x",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "y",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "step",
        "x": 860,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "6e0e605e744ac767",
        "type": "debug",
        "z": "17870e65b49ecbdc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "9f851f192bab3d07",
        "type": "function",
        "z": "17870e65b49ecbdc",
        "name": "function 1",
        "func": "const Nsamp = 2000;\nconst Gnoise = 1000;\nconst Gsine = 10000;\n\nvar msg1;\n\nvar yval;\nvar datarray = [Nsamp];\nfor(let i=0; i<Nsamp; i++) {\n\n    yval = Math.round(Gnoise*(2.0*Math.random()-1.0) + Gsine*Math.sin(2.0*Math.PI*i/Nsamp));\n\n    datarray[i] = { \"x\": i, \"y\": yval };\n\n}\n\nmsg1 = {payload: datarray};\nnode.send(msg1);\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "a924b771a10b19ba"
            ]
        ]
    },
    {
        "id": "90cb076178cbfb95",
        "type": "ui-button",
        "z": "17870e65b49ecbdc",
        "group": "4dc3a5580f655534",
        "name": "",
        "label": "single trigger",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "9f851f192bab3d07"
            ]
        ]
    },
    {
        "id": "e98bd8e3a85f779f",
        "type": "trigger",
        "z": "17870e65b49ecbdc",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 520,
        "wires": [
            [
                "9f851f192bab3d07"
            ]
        ]
    },
    {
        "id": "fe6d058f1765b4c9",
        "type": "ui-switch",
        "z": "17870e65b49ecbdc",
        "name": "",
        "label": "continuous trigger",
        "group": "4dc3a5580f655534",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "e98bd8e3a85f779f"
            ]
        ]
    }
]