db2_chart/flows/flows.json
[
    {
        "id": "17870e65b49ecbdc",
        "type": "tab",
        "label": "Db2_Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d3b36d370853b9d",
        "type": "ui-base",
        "name": "virtual instrument",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "0a6cef5a1c524f2d",
        "type": "ui-page",
        "name": "plot",
        "ui": "7d3b36d370853b9d",
        "path": "",
        "icon": "home",
        "layout": "grid",
        "theme": "177731b725387814",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8047cee2b91a162e",
        "type": "ui-group",
        "name": "line plot group",
        "page": "0a6cef5a1c524f2d",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "177731b725387814",
        "type": "ui-theme",
        "name": "instrument theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "6e0e605e744ac767",
        "type": "debug",
        "z": "17870e65b49ecbdc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 240,
        "wires": []
    },
    {
        "id": "e98bd8e3a85f779f",
        "type": "trigger",
        "z": "17870e65b49ecbdc",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "a29689e4fc22deb9"
            ]
        ]
    },
    {
        "id": "a29689e4fc22deb9",
        "type": "exec",
        "z": "17870e65b49ecbdc",
        "command": "${C_BIN_PATH}/json_gen 1000",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "74cd843f2c9e7be6"
            ],
            [],
            []
        ]
    },
    {
        "id": "74cd843f2c9e7be6",
        "type": "json",
        "z": "17870e65b49ecbdc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1290,
        "y": 380,
        "wires": [
            [
                "a924b771a10b19ba"
            ]
        ]
    },
    {
        "id": "90cb076178cbfb95",
        "type": "ui-button",
        "z": "17870e65b49ecbdc",
        "group": "8047cee2b91a162e",
        "name": "",
        "label": "single trigger",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "a29689e4fc22deb9"
            ]
        ]
    },
    {
        "id": "fe6d058f1765b4c9",
        "type": "ui-switch",
        "z": "17870e65b49ecbdc",
        "name": "",
        "label": "continuous trigger",
        "group": "8047cee2b91a162e",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "e98bd8e3a85f779f"
            ]
        ]
    },
    {
        "id": "a924b771a10b19ba",
        "type": "ui-chart",
        "z": "17870e65b49ecbdc",
        "group": "8047cee2b91a162e",
        "name": "Chart: Scatter",
        "label": "Line Plot Example",
        "order": 1,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "x",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "y",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": "",
        "action": "replace",
        "stackSeries": false,
        "pointShape": "false",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "12",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1480,
        "y": 380,
        "wires": [
            []
        ]
    }
]